version: '3'

services:
  db:
    image: postgres:15-alpine
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_PASSWORD: postgrespassword
      POSTGRES_USER: postgres
      POSTGRES_DB: coolclosetdb
    volumes:
      - ./postgres_data:/var/lib/postgresql/data

